@media screen and (max-width: 1440px) {

    .card {
        margin: 0 70px;
    }

    .card-text {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 50%;
        background-color: $card-background;
        display: flex;
        align-items: center;
    
        .block {
            margin: 0 50px;
        }
    
        .title {
            font-family: $mainfont;
            font-weight: 700;
            font-size: 1.4rem;
            color: $main-heading-stats;
            padding: 20px 0;
    
            span {
                color: $accent;
            }
        }
    
        .description {
            font-family: $mainfont;
            font-weight: 400;
            font-size: 1.3rem;
            color: $main-paragraph;
            padding: 20px 0;
        }
    
        .stats {
            display: flex;
            justify-content: flex-start;
            padding: 20px 0;
    
            .stats-result {
                padding: 0px 50px 0px 0px;
            }
    
            .stats-number {
                font-family: $mainfont;
                font-weight: 700;
                font-size: 1.7rem;
                color: $main-heading-stats;
            }
    
            .stats-heading {
                font-family: $statsheadingfont;
                font-weight: 400;
                font-size: 1rem;
                color: $stat-headings;
            }
        }
    }

}